.header {
    display: flex;
    justify-content: space-around;
    color: #F9FaF8;
    background-color: #1F2937;
    margin: 0px;
}

.links {
    display: flex;
    gap: 15px;
    margin-top: 0px;
    
}













ul {
    list-style-type: none;
    
    
    
  } 
a {
    text-decoration: none;
    color: #F9FaF8;
  }