.header {
    display: flex;
    justify-content: space-around;
    color: #F9FaF8;
    background-color: #1F2937;
    
}

.links {
    display: flex;
    gap: 15px;
    margin-top: 0px;  
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FaF8;
    padding: 100px;
}

.left,
.right {
    width: 400px;

}

button {
    padding: 8px 16px;
    background-color: #3382f6;
    color: #F9FaF8;
    border-radius: 8px;
    border: 1px solid #3382f6;
    cursor: grab;
    margin-top: 8px;

}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.section-3 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}
.box {
    border-radius: 8px;
    border: 2px solid #3382f6;
    width: 100px;
    height: 100px;
}




ul {
    list-style-type: none;
    
    
    
  } 
a {
    text-decoration: none;
    color: #F9FaF8;
  }